<!DOCTYPE html>
<html lang="en">
<head>
<title>EDIT</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table width=20%>
    <tr> 	<td width=5%> <a href='/'> <b>Поиск</b> </a> </td>
     		<td width=5%> <a href='/add'> <b>Добавить</b> </a> </td>
     		<td width=5%> <a href='/workers'> <b>Поиск работника</b> </a> </td>
     		<td width=5%> <a href='/type'> <b>Поиск типа</b> </a> </td>
     		<td width=5%> <a href='/hardware'> <b>Поиск оборудования</b> </a> </td>
    </tr>
    </table>
<table>
<form>
	<table>
		<tr>
			<td>оборудование</td>
			<td> <input type="hidden" name="base" value='hardware'></td>
		</tr><tr>
			<td>ID</td>
			<td> <input type="text" name="id_char" readonly value={{args['id']|safe}}></td>
		</tr><tr>
			<td>ID влдельца</td>
			<td> <input type="text" name="owner" value={{args['owner']|safe}}></td>
		</tr><tr>
			<td>Дата выдачи</td>
			<td> <input type="text" name="out_date" value={{args['out_date']|safe}}></td> 	
		</tr><tr> <td><button type="submit" value='change'>Изменить оборудование</button></td></tr></form>
	</table>
</form>

</body>
</html>
