<!DOCTYPE html>
<html lang="en">
<head>
<title>EDIT</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table width=50%>
    <tr> 	<td width=10%> <a href='/'> <b>Соединенный поиск</b> </a> </td>
     		<td width=10%> <a href='/add'> <b>Добавить</b> </a> </td>
     		<td width=20%> <a href='/exact'> <b>Поиск и редактирование записей</b> </a> </td>
    </tr>
</table>
<form>
	<table>
		<tr>
			<td>оборудование</td>
			<td> <input type="hidden" name="base" value='hardware'></td>
		</tr><tr>
			<td>ID</td>
			<td> <input type="hidden" name="id" value={{args['id']|safe}}> 
				<input type="text" name="id" readonly value={{args['id']|safe}}></td>
</tr><tr>
			<td>ID типа</td>
			<td> <input type="text" name="id_char" readonly value={{args['id_char']|safe}}></td>
		</tr><tr>
			<td>ID владельца</td>
			<td> <input type="text" name="owner" value={{args['owner']|safe}}></td>
		</tr><tr>
			<td>Дата выдачи</td>
			<td> <input type="text" name="out_date" value={{args['out_date']|safe}}></td> 	
		</tr><tr> <td><button type="submit" value='change'>Изменить оборудование</button></td></tr></form>
	</table>
</form>

</body>
</html>
