<!DOCTYPE html>
<html lang="en">
<head>
<title>Search page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<table width=50%>
    <tr> 	<td width=10%> <a href='/'> <b>Соединенный поиск</b> </a> </td>
     		<td width=10%> <a href='/add'> <b>Добавить</b> </a> </td>
     		<td width=20%> <a href='/exact'> <b>Поиск и редактирование записей</b> </a> </td>
    </tr>
</table>

<table>
<tr>
<td>

<table>
<form>
	<table>
		<tr>
			<td>ID объекта</td>
			<td> <input type="int" name="id" placeholder="число"></td>
		</tr>
		<tr>
			<td>ID описания</td>
			<td> <input type="int" name="id_char" placeholder="число"></td>
		</tr>
		<tr>
			<td>Дата выдачи оборудования</td>
			<td> <input type="text" name="out_date" placeholder="YYYY-MM-DD"></td>
		</tr>
		<tr>
			<td>Текущий владелец</td>
			<td> <input type="int" name="owner" placeholder="число"></td>
		</tr>
		<tr> <input type="hidden" name="what" value="hardware"> <td><button type="submit">Search</button></td>
		</tr>
	</table>
</form>
</td> <td>
<form>
	<table>
		<tr>
			<td>ID</td>
			<td> <input type="int" name="id" placeholder="число"></td>
		</tr>
		<tr>
			<td>Тип</td>
			<td> <input type="text" name="htype" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Производитель</td>
			<td> <input type="text" name="producer" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Модель</td>
			<td> <input type="text" name="model" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Год</td>
			<td> <input type="int" name="year" placeholder="число"></td>
		</tr>
		<tr> <input type="hidden" name="what" value="type"> <td><button type="submit">Search</button></td>
		</tr>
	</table>
</form>

</td><td>
<form>
	<table>
		<tr>
			<td>ID</td>
			<td> <input type="int" name="id" placeholder="число"></td>
		</tr>
		<tr>
			<td>Имя</td>
			<td> <input type="text" name="name" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Отдел</td>
			<td> <input type="text" name="department" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Должность</td>
			<td> <input type="text" name="position" placeholder="текст"></td>
		</tr>
		<tr>
			<td>Дата рождения</td>
			<td> <input type="text" name="birth" placeholder="YYYY-MM-DD"></td>
		</tr>
		<tr>
			<td>Кабинет</td>
			<td> <input type="int" name="office" placeholder="число"></td>
		</tr>
		<tr> <input type="hidden" name="what" value="workers"> <td><button type="submit">Search</button></td>
		</tr>
	</table>
</form>
</td>
</tr>
</table>


{{result|safe}}

</body>
</html>

