<!DOCTYPE html>
<html lang="en">
<head>
<title>Search page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table width=20%>
    <tr> 	<td width=5%> <a href='/'> <b>Поиск</b> </a> </td>
     		<td width=5%> <a href='/add'> <b>Добавить</b> </a> </td>
     		<td width=5%> <a href='/workers'> <b>Поиск работника</b> </a> </td>
     		<td width=5%> <a href='/type'> <b>Поиск типа</b> </a> </td>
     		<td width=5%> <a href='/hardware'> <b>Поиск оборудования</b> </a> </td>
    </tr>
    </table>
<table>
<form>
	<table>
		<tr>
			<td>ID</td>
			<td> <input type="text" name="id"></td>
		</tr>
		<tr>
			<td>Тип</td>
			<td> <input type="text" name="htype"></td>
		</tr>
		<tr>
			<td>Производитель</td>
			<td> <input type="text" name="producer"></td> 	
		</tr>
		<tr>
			<td>Модель</td>
			<td> <input type="text" name="model"></td> 
		</tr>
		<tr>
			<td>Год</td>
			<td> <input type="text" name="year"></td>
		</tr>
		<tr> <td><button type="submit">Search</button></td>
		</tr>
	</table>
</form>

{{result|safe}}

</body>
</html>
